<%= form_with model: @alarm, local: true do |f| %>
  <div class="field">
    <%= f.label :date, "日付" %>
    <%= f.date_field :date, name: "alarm[date]" %> <!-- name属性が重要 -->
  </div>
  <div class="field">
    <%= f.label :time, "時間" %>
    <%= f.time_field :time, name: "alarm[time]" %> <!-- name属性が重要 -->
  </div>
  <div class="field">
    <%= f.label :comment, "コメント" %>
    <%= f.text_field :comment, name: "alarm[comment]" %> <!-- name属性が重要 -->
  </div>
  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
