<h1>新しいアラームを追加</h1>

<%= form_with(model: @alarm, local: true) do |form| %>
  <div>
    <%= form.label :alarm_time, '日時' %>
    <%= form.datetime_local_field :alarm_time %>
  </div>

  <div>
    <%= form.label :comment, 'コメント' %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.submit '保存' %>
  </div>
<% end %>

